// out: ../css/main.css, sourcemap: false, compress: false
@mono-font-stack: "Courier New", "Courier", monospace;
@sans-font-stack: "Arial", "Helvetica", sans-serif;
@gothic-font-stack: "Century Gothic","Apple Gothic",Futura,sans-serif;
@base-light: #b2d8bb;
@base: darken(@base-light, 30%);
@dark-gray: #111;
@mid-gray: #555;
@text: @dark-gray;
@white: white;

body {
  background-color:white;
  color:@dark-gray;
  font-family: @mono-font-stack;
  margin:0;
}
h1 {
  font-family: @mono-font-stack;
  font-size:2em;
  color:@mid-gray;
  font-weight:normal;
  text-transform:uppercase;
  letter-spacing:5px;
  margin-top:2em;
  margin-bottom:0em;
  text-align: center;
}
h2 {
  font-family: @gothic-font-stack;
  margin-top:1em;
  margin-bottom:.5em;
  text-align: center;
  font-size:2em;
  line-height:.75em;
  color: @base;
  small {
    font-size:.5em;
    color:black;
    font-style:italic;
  }
}
h3 {
  text-align: center;
  color: @mid-gray;
  text-transform: uppercase;
  font-size:1.2em;
  margin-bottom:0;
  margin-top:.5em;
}
p {
  text-align:left;
  margin:3px;
  letter-spacing: -1px;
}
a {
  color:@base;
  text-decoration:none;
}
a:hover {
  color:@base;
}

em {
  font-weight: bold;
  font-style: normal;
}

.header {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: @base;
  color: white;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  .header-content {
    margin: auto auto;
    .name {
      font-size: 5em;
    }
    @button-size:5em;
    .button-container {
      margin:2em auto;
      margin-bottom:1em;
      .button {
        border-radius:4em;
        width:@button-size;
        height:@button-size;
        margin:.25em;
        display:inline-block;
        line-height:100%;
        vertical-align: middle;
        text-align: center;
        cursor:pointer;
        font-family: @mono-font-stack;
        font-weight:bold;
        background:white;
        color: @dark-gray;
        &:hover {
            background: @base-light;
        }
        span {
          line-height:@button-size;
          vertical-align: middle;
        }
      }
    }
  }
}

.navbar {
  @navbar-height: 4em;
  width:100%;
  height:@navbar-height;
  background:@base;
  color:white;
  text-align: center;
  &.fixed {
    position: fixed;
    top: 0;
  }
  .button-container {
    margin: 0 auto;
    width: auto;
    .button {
      line-height: @navbar-height;
      height: 100%;
      display: inline-block;
      color: white;
      font-family:@gothic-font-stack;
      font-weight: bold;
      padding-left: .25em;
      padding-right: .25em;
      &.active {
          background: white;
          color: @base;
      }
    }
  }
}
.content {
  margin:0 auto;
  .section {
    display:block;
    width:100%;
    &.white {
      background:@white;
    }
    &.green{
      background:@base-light;
    }
    div {
      max-width: 20cm;
      margin: 0 auto;
      padding: .5em;
    }
  }
}
.bio {
  min-height:235px; //match to height of headshot
  position:relative;
  margin:0 auto;
  img.headshot {
      float:right;
  }
}
.list {
  margin-bottom:1em;
}
