body {
  background-color: white;
  color: #111;
  font-family: "Courier New", "Courier", monospace;
  margin: 0;
}
h1 {
  font-family: "Courier New", "Courier", monospace;
  font-size: 2em;
  color: #555;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 2em;
  margin-bottom: 0em;
  text-align: center;
}
h2 {
  font-family: "Century Gothic", "Apple Gothic", Futura, sans-serif;
  margin-top: 1em;
  margin-bottom: .5em;
  text-align: center;
  font-size: 2em;
  line-height: .75em;
  color: #51a064;
}
h2 small {
  font-size: .5em;
  color: black;
  font-style: italic;
}
h3 {
  text-align: center;
  color: #555;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 0;
  margin-top: .5em;
}
p {
  text-align: left;
  margin: 3px;
  letter-spacing: -1px;
}
a {
  color: #51a064;
  text-decoration: none;
}
a:hover {
  color: #51a064;
}
em {
  font-weight: bold;
  font-style: normal;
}
.header {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: #51a064;
  color: white;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.header .header-content {
  margin: auto auto;
}
.header .header-content .name {
  font-size: 5em;
}
.header .header-content .button-container {
  margin: 2em auto;
  margin-bottom: 1em;
}
.header .header-content .button-container .button {
  border-radius: 4em;
  width: 5em;
  height: 5em;
  margin: .25em;
  display: inline-block;
  line-height: 100%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-family: "Courier New", "Courier", monospace;
  font-weight: bold;
  background: white;
  color: #111;
}
.header .header-content .button-container .button:hover {
  background: #b2d8bb;
}
.header .header-content .button-container .button span {
  line-height: 5em;
  vertical-align: middle;
}
.navbar {
  width: 100%;
  height: 4em;
  background: #51a064;
  color: white;
  text-align: center;
}
.navbar.fixed {
  position: fixed;
  top: 0;
}
.navbar .button-container {
  margin: 0 auto;
  width: auto;
}
.navbar .button-container .button {
  line-height: 4em;
  height: 100%;
  display: inline-block;
  color: white;
  font-family: "Century Gothic", "Apple Gothic", Futura, sans-serif;
  font-weight: bold;
  padding-left: .25em;
  padding-right: .25em;
}
.navbar .button-container .button.active {
  background: white;
  color: #51a064;
}
.content {
  margin: 0 auto;
}
.content .section {
  display: block;
  width: 100%;
}
.content .section.white {
  background: white;
}
.content .section.green {
  background: #b2d8bb;
}
.content .section div {
  max-width: 20cm;
  margin: 0 auto;
  padding: .5em;
}
.bio {
  min-height: 235px;
  position: relative;
  margin: 0 auto;
}
.bio img.headshot {
  float: right;
}
.list {
  margin-bottom: 1em;
}
